@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilização GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 4rem 4rem;
    font-family: 'Poppins', sans-serif;
}
/* Fim da Estilização GERAL */

/* Estilização do Cabeçalho */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-left: 500px;
}

.nav-list li {
    margin-left: 30px;
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: #a1a1a1;
    transition: 0.3s;
}

.nav-list li a:hover {
    color: #DF6951;
}

.entrar {
    color: #101317;
    transition: 0.3s;
}

.entrar:hover {
    color: #101317;
}

.cadastro {
    background-color: #FFF;
    color: #212832;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid #212832;
    transition: 0.3s;
}

.cadastro:hover {
    background-color: #ff6600;
    color: #ffffff;
    border: none;
}

.translate {
    font-weight: 600;
    transition: 0.3s;
}

.translate:hover {
    color: #101317;
    font-weight: 800;
}
/* Fim da Estilização do Cabeçalho */


/* Estilização da Sessão da Inicial */
.container-p2 {
    display: flex;
    align-items: center;
}

.btn {
    background-color: #F1A501;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #e09600;
}

.play {
    background-color: #DF6951;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    font-size: 12px;
    transition: 0.3s;
}

.play:hover {
    width: 50px;
    height: 50px;
}

.span {
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

.span a {
    text-decoration: none;
    color: #808080;
}

h3 {
    color: #DF6951;
    font-weight: 600;
    font-size: 16px;
}

h2 {
    font-weight: 800;
    font-size: 48px;
    color: #12194D;
    padding: 10px 0;
}

p {
    color: #a1a1a1a1;
    font-weight: 300;
    padding: 10px 0;
}
/* Fim da Estilização da Sessão da Inicial */

/* Estilização da Sessão de Categorias */
.servicos {
    padding: 15rem 0 0 0;
}

.titulo-servicos {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.titulo-servicos .categoria {
    font-weight: 600;
    color: #AEAFB1;
    font-size: 1rem;
    text-transform: uppercase;
}

.titulo-servicos h2 {
    font-size: 2rem;
}

.cards-servicos {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

.card {
    background: #ffffff;
    padding: 1.2rem;
    flex: 1 1 calc(25% - 1rem);
    min-width: 250px;
    text-align: center;
}

.card img {
    object-fit: cover;
    margin-bottom: 1rem;
}

.card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #12194D;
}

.card span {
    font-size: 0.95rem;
    color: #a1a1a1;
}
/* Fim da Estilização da Sessão de Categorias */

/* Estilização da Sessão de Destinos */
.mais-vendidos {
    padding: 10rem 0 0 0;
    background-color: #ffffff;
}

.titulo-mais-vendidos {
    text-align: center;
    margin-bottom: 3rem;
}

.titulo-mais-vendidos .categoria {
    font-weight: 600;
    color: #AEAFB1;
    font-size: 1rem;
    text-transform: uppercase;
}

.titulo-mais-vendidos h2 {
    font-size: 2rem;
}

.cards-destinos {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.card-destino {
    border-radius: 10px;
    padding: 1rem;
    flex: 1 1 calc(33.333% - 1.5rem);
    min-width: 260px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

}


.card-destino img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0.5rem;
}

.info-topo {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}

.nome-destino {
    font-size: 0.95rem;
    color: #a1a1a1;
}

.dias {
    padding: 1rem;
}

/* Fim da Estilização da Sessão de Destinos */

/* Estilização da Sessão de Reservas */
.passos-reserva {
    padding: 10rem 0 0 0;
}

.passos-reserva .conteudo-reserva {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
}

.textos-passos {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.lista-reserva {
    list-style: none;
    counter-reset: passo;
    padding-left: 0;
}

.lista-reserva li {
    counter-increment: passo;
    position: relative;
    padding-left: 3rem;
    margin-bottom: 1.5rem;
}

.lista-reserva li::before {
    content: counter(passo);
    position: absolute;
    left: 0;
    top: 0;
    background: #ff6600;
    color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.card-destino-reserva img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0.5rem;
}

.description {
    padding: 1.5rem 1rem;
}

.card-destino-reserva span {
    padding: 1rem;
}

.card-destino-reserva .icones-acao {
    padding: 0 1rem;
}

.card-destino-reserva i {
    padding: 0 1rem;
    color: #808080;
    font-size: 20px;
}

.card-destino-reserva .viagem {
    font-size: 18px;
    font-weight: 700;
}

.card-destino-reserva .mini-span {
    color: #808080;
    font-size: 14px;
}

.card-destino-reserva .solicitacoes {
    padding: 0 1rem;
    color: #808080;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-destino-reserva .solicitacoes i {
    color: #12194D;
}
/* Fim da Estilização da Imagem da Sessão de Reservas */

/* Estilização da Sessão de Depoimentos */
.depoimentos {
    padding: 4rem 4rem;
    margin-top: 5rem;
    text-align: center;
}

.depoimentos h2 {
    margin-bottom: 35px;
}

.conteudo-depoimento {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.testemunho {
    padding: 2rem;
    width: 500px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.testemunho .descricao {
    font-style: italic;
    color: #808080;
    margin-bottom: 15px;
}

.testemunho h4 {
    font-weight: normal;
    color: #12194D;
}
/* Fim da Estilização da Sessão de Depoimentos */

/* Estilização da Sessão de Parceiros */
.logos-parceiros {
    margin: 100px 0;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.logos-parceiros img {
    width: 100px;
}
/* Fim da Estilização da Sessão de Parceiros */

/* Estilização da Sessão de Newsletter */
.newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 4rem;
    border-radius: 20px;
    background-color: #DFD7F9;
}

.h4 {
    width: 500px;
    align-items: center;
}

.newsletter .newsletter-h5 {
    color: #5E6381;
    font-weight: 600;
    font-size: 24px;
}

.input-conteudo {
    position: relative;
    width: 300px;
}

.input-conteudo input {
    width: 100%;
    padding: 10px 45px 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.input-conteudo button {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 0 15px;
    border-radius: 6px;
    cursor: pointer;
}

.input-conteudo button:hover {
    background-color: #DF6951;
}
/* Fim da Estilização da Sessão de Newsletter */

/* Estilização do Footer */
footer {
    padding: 10rem 0 0 0;
}

footer .footer-container {
    display: flex;
    gap: 20px;
}

.footer-img {
    width: 250px;
    margin-right: 424px;
}

.footer-container .empresa {
    width: 100px;
}

.footer-ul {
    width: 200px;
}

.footer-container ul li {
    list-style: none;
    padding: 0.5rem;
}

.footer-container ul li a {
    color: #808080;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}

.footer-container ul li p {
    color: #808080;
    font-size: 14px;
    font-weight: 300;
}
/* Fim de Estilização do Footer */