/* Estilização GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px 80px;
    font-family: 'Poppins', sans-serif;
}
/* Fim da Estilização GERAL */

/* Estilização do Cabeçalho */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-left: 500px;
}

.nav-list li {
    margin-left: 30px;
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: #a1a1a1;
}

.entrar {
    color: #101317;
}

.cadastro {
    background-color: #FFF;
    color: #212832;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid #212832;
}

.translate {
    font-weight: 600;
}
/* Fim da Estilização do Cabeçalho */


/* Estilização da Sessão da Inicial */
.container-p2 {
    display: flex;
    align-items: center;
}

.btn {
    background-color: #F1A501;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #e09600;
}

.play {
    background-color: #DF6951;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    font-size: 12px;
}

.span {
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

h3 {
    color: #DF6951;
    font-weight: 600;
    font-size: 16px;
}

h2 {
    font-weight: 800;
    font-size: 48px;
    color: #12194D;
    padding: 10px 0;
}

p {
    color: #a1a1a1a1;
    font-weight: 300;
    padding: 10px 0;
}
/* Fim da Estilização da Sessão da Inicial */

/* Estilização da Sessão de Categorias */
.servicos {
    padding: 4rem 2rem;
}

.titulo-servicos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.titulo-servicos .categoria {
    font-weight: bold;
    color: #a1a1a1;
    font-size: 1rem;
    text-transform: uppercase;
}

.cards-servicos {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

.card {
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
    flex: 1 1 calc(25% - 1rem);
    min-width: 250px;
    text-align: center;
}

.card img {
    object-fit: cover;
    margin-bottom: 1rem;
}

.card h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #12194D;
}

.card span {
    font-size: 0.95rem;
    color: #a1a1a1;
}
/* Fim da Estilização da Sessão de Categorias */